body {
  background-color: #fafafa;
  font-family: "Quicksand", sans-serif;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

header {
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  color: #001122;
}

form {
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  margin-bottom: 30px;
}

.instructions {
  padding: 16px;
  border: 1px solid rgba(62, 54, 102, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
}

.submit-button {
  margin-left: 10px;
  color: #fff;
  background: #0177ff;
  border: none;
  border-radius: 50px;
  padding: 14px 24px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
}

.poem {
  font-size: 16px;
  color: #5d6774;
  background-color: #fff;
  padding: 20px;
  line-height: 24px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
}

footer {
  text-align: left;
  font-size: 13px;
  margin-top: 30px;
}

a {
  color: #0177ff;
}
